* {
    font-family: Arial, Helvetica, sans-serif;
}

#intro {
    text-align: center;
}

button {
    background-color: #da077b;
    color:#fff;
    border-radius: 8px;
    font-size: 15px;
    padding: 8px;
}